:root {
  width: 400px;
  height: 70px;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

::ng-deep a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

div.container {
  display: flex;
  width: 350px;
}

::ng-deep app-nav-item.active a .icon {
  transform: translateY(-34px);
}
